.slider--Container{
  margin-top:152px;
  margin-right: 140px;
  margin-left: 140px;
}
.swiper--slider{
  height: 775px;
}

.white--background{
  width: 504px;
  height: 610px;
  margin: 0;
  padding: 0;
}

